<div class="cartBox">
  <h1 class="text-danger">Shopping Cart</h1>
  <div class="headCart">
    <p class="lead">You have <label for="" class="text-danger">2</label> item in your cart</p>
    <span class="text-danger card-header">Clear Shopping Cart</span>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Price</th>
        <th style="width: 25%;"> Quanitity</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
  </table>
</div>