<div class="mt-5">
    <div class="my-2 w-25">
      <app-select [data] = "categories" title="Categories" (selectedValue)="filterCategory($event)"></app-select>
    </div>
    <div class="row" *ngIf="!loading">
        <div class="col-12" *ngIf="errorMassage !=null">
            <div class="alert alert-danger text-center" role="alert">
                {{errorMassage}}
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3" *ngFor="let prod of products">
           <app-product [data]="prod" (item)="addToCart($event)"></app-product>
        </div>
    </div>
    <div class="text-center w-100" *ngIf="loading">
        <app-spinner></app-spinner>
    </div>
</div>